<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        h1{font-size: 22px}
        a{color: black}
    </style>
    <title>Document</title>
</head>
<body>
<h1>Hello it is "post.html"</h1>
<a href="/page/">page</a>
<a href="/">index</a>
<a href="/detail/">detail</a>
</body>
</html>